body { margin:0; padding:0; }
#map-uk, #map-world { width:100vw; height:100vh; }
#map-world { display: none; }


.leaflet-control-custom,
.leaflet-control {
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.13);
  border-radius: 6px;
  width: 34px;
  height: 34px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.leaflet-control-custom.active,
.globe-btn.active {
  background: #fff6e5 !important;
}
.leaflet-control-custom i.fas.fa-globe {
  font-size: 1.5em;
}
.route-panel-icon {
  align-self: flex-end;
}
.route-panel {
  min-width: 100px;
  background: rgba(255,255,255,0.97);
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.13);
  border: 1px solid #bbb;
  margin: 4px 0 0 0;
  padding: 8px 10px;
  z-index: 1002;
  display: none;
  flex-direction: column;
  gap: 0px;
  align-items: stretch;
  position: relative;
}
.route-panel.open { display: flex; }
.route-panel select, .route-panel button {
  height: 32px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #fff;
}
.route-panel button {
  padding: 0 12px;
  cursor: pointer;
}
.fa-route {
  font-size: 1.4em;
  color: #333;
}
